@import '~foundation-sites/scss/global';

.header {
  background-color: map-get($foundation-palette, primary);
  color: white;

  &__container {
    padding: 0.5rem 0;
  }

  &__link {
    color: currentColor !important;
    font-size: 1.5rem;
  }
}
